@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/*custom scroll bar*/
html::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--main-color);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
}

/*global color*/
:root {
    --main-color: #09ce09;
    --text-color: #fff;
    --bg-color: #1e1c2a;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    transition: 0.5s;
    background-color: var(--bg-color);
    z-index: 10;
}
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: 5px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.5s;
}
.navbar a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 3px;
}
/*cover*/
/*home cover section*/
section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}
.home-text h1{
    font-size: 5rem;
    color: var(--main-color);
}
.home-text h2{
    font-size: 2.5rem;
    margin: 1rem 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 3px;
    transition: 0.5s;
}
.btn:hover{
    transform: scale(1.2);
    background-color: var(--text-color);
    color: var(--main-color);
}
/*service section*/
.service {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    align-items: center;
}

.service img {
    max-width: 100%;
    width: 600px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}
.service-text h1{
    font-size: 5rem;
    color: var(--main-color);
    letter-spacing: 3px;
}
.service-text h2 {
    font-size: 2rem;
    margin: 1rem 0 2rem;
    color: var(--text-color);
}
.service-text h2 i{
    color: var(--main-color);
}

/*about section*/
.about{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1.5rem;
    align-items: center;
}
.about img{
    max-width: 100%;
    width: 480px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}
.about-text span{
    color: var(--main-color);
    font-weight: 600;
}
.about-text h2{
    font-size: 2rem;
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}
/*menu section*/
.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 3rem;
}
.heading h2{
    font-size: var(2.5rem);
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    align-items: center;
}
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    background-color: var(--bg-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0 15px black;
    filter: brightness(0.5);
    transition: 0.5s;
}
.box-img{
    width: 200px;
    height: 250px;
}
.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.box:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    filter: brightness(1.1);
}
.box h2{
    font-size: 1.3rem;
    color: var(--main-color);
}
.box h3{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}
.box button{
    font-size: 1.2rem;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.box button:hover{
    background-color: var(--text-color);
    color: var(--main-color);
}
.box .bx-heart{
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
}
.box .bx-heart:hover{
    background-color: var(--text-color);
    color: var(--main-color);
}
.box .bx-star{
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}
.box .bx-star:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}/*contact section*/
.contact{
   text-align: center;
}
.contact h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 10px;
}
.contact form{
    padding: 10px;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 0 15px black;
}
.contact input{
    padding: 5px;
    margin: 10px;
}
.contact form .email , .address  , .tel , .message{
    border: none;
    outline: none;
    width: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-self: start;
}
.contact .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    padding: 10px;
}
/*footer section*/
.container{
    max-width: 960px;
    background-color: var(--bg-color);
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col h4{
    font-size: 2.2rem;
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
}
.col ul li{
    margin-bottom: 10px;
}
.col ul li a {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: 0.5s;
}
.col ul li a:hover {
    color: var(--main-color);
    padding-left: 10px;
}
.col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 50%;
    margin: auto 10px auto 10px;
    text-align: center;
    line-height: 43px;
    transition: 0.5s;
    box-shadow: 0 0 5px black;
}
.col .social a:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}
/*responsive section*/
@media (max-width:960px){
    .col {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 800px) {
    section{
        padding: 75px 7.5%;
    }
   .navbar{
    display: none;
   }
}

@media(max-width:720px) {
    header{
        padding: 10px 16px;
    }
    header .navbar{
        display: none;
    }
    .home{
        grid-template-columns: auto;
        text-align: center;
    }
    .about {
        grid-template-columns: auto;
        text-align: center;
    }
    .service {
        grid-template-columns: auto;
        text-align: center;
    }
    section{
        padding: 100px 7%;
    }       
}
@media(max-width:416px){
    .col .social a{
       margin: 10px; 
    }
}
